.header {
    position: sticky;
    top: 25px;
    z-index: 1000;
    border-radius: 50px;
    background: rgba(22, 34, 42, 0.8);
    /* semi-transparent blue-black */
    backdrop-filter: blur(5px);
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 212, 255, 0.1);
    transition: all 0.3s ease;
}

/* Flex Container */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* Logo (left) */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 8px #00d4ff;
}

.Profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

.brand-name {
    color: #00d4ff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 5px #00d4ff;
}

.header-links ul {
    display: flex;
    justify-content: center;
    /* gap: 25px; */
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

.nav-link {
    padding: 0px 20px !important;
    color: #d1d5db;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #00d4ff;
    text-shadow: 0 0 8px #00d4ff;
}

.social-links {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.social-links a {
    color: #00d4ff;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 10px #00d4ff;
}

/* Hamburger */
.hamburger {
    display: none;
    font-size: 1.8rem;
    color: #00d4ff;
    cursor: pointer;
    position: relative !important;
    right: auto !important;
    top: auto !important;
}

/* Mobile Menu */
.mobile-menu {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    text-align: center;
    margin: 10px 0;
}

.mobile-menu a {
    color: #00d4ff;
    font-size: 1.2rem;
    text-decoration: none;
}

.mobile-socials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* Responsive Breakpoint */
@media (max-width: 768px) {

    .desktop-only {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
}
